html{
    position: relative;

}

.harep{
    color: #FFE974;
}

#hrp{
    color: #FFE974;
}


#navbar{
     background-color: black;
    
}

.butPage:hover{
    position: relative;
    text-decoration: none;
    color: #FFE974;
}


li a{
    margin-right: 2cm;
    font-family: Calibri;
    font-weight: 300;
    font-size: 17px;
    color: white;
}
.verticalLine{
    color: grey;
    margin-right: 2cm;
    font-weight: 100;
}

#homeNav{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFE974;
    font-weight: 600;
}

#page{
    background-color: black;
}

#profilePicture{
    border-width: 3px;
    border-color: #FFE974;   
    border-style: solid;
    background-size: fixed;
	width : 25%;
	margin-bottom: 20px;
}

#body{
    background-color: black;
}

#nameHomePage{
    color: #FFE974;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#descHomePage{
    margin-top: 30px;
    color: white;
    text-align: center;
}

.active{
    text-decoration: none;
    border-bottom: 2px solid #FFE974;
}

#now{
    margin-right: 0.3cm;
    margin-left: 0.3cm;
}

#right{
    margin-left: 1.7cm;   
}

#left{
    margin-right: 1.7cm;
}

.headText{
    color: #FFE974;
    font-size: 80px;
    -webkit-text-stroke: 2px white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 1cm;
    margin-left: 2.2cm;
}

#descSkillsPage{
    width: 260px;
    margin-left: 3cm;
    
}

.desc{
    text-align: justify;
    color: white;
    text-justify: auto;
    font-size: 18px;
}

#textInfo{
    margin-top: 4cm;
}

.codelang{
    background-size: fixed;
    width : 30%;
    margin-bottom: 40px;
    
}

.leftie{
    margin-left: 100px;
    margin-right: 60px;
}

#photoslang{
    background-color: #FFE974;
    margin-top: 1cm;
    width:1000px;
    margin-right: -17px;
    margin-left: -20px;
    border-top-left-radius: 149px;
    border-bottom-left-radius: 149px;
}

.upper{
    margin-top: 40px;
}

.tab{
    margin-left: 40px;
    margin-right: 40px;    
}

#tabtab{
    margin-left: 61px;
    margin-right: 61px;
}

.desc{
    margin-left: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}

.box-exp{
    border: 3px solid #FFE974;
    border-radius: 51px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
}

#contact-text{
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 20px;
    color: white;
    margin-left: 200px;
}

#foto{
    background-size: fixed;
	width : 55%;
    margin-bottom: 20px;
    margin-top: 60px;
    margin-left: 70px;
    border-radius:70px;   
}

.contact-desc{
    color: white;
    margin-left: 160px;
    font-size: 20px;
}

#gallery{
    margin-bottom: 0px;
    margin-left: 0px;
}

.butSched{
    background-color: #FFE974;
    color: white;
}

#butClear{
    background-color: #FFE974;
    color: black;
}

#butCreate{
    background-color: #FFE974;
    color: black
}

#infoText{
    color: #FFE974;
}

#margSched{
    border: 3px solid #FFE974;
    border-radius: 51px;
    padding: 1cm;
    margin-block-end: 2cm;
    margin-inline-end: 2cm;
}