<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gafi Irfandi | Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
</head>
<body id="page">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark my-nav" id="navbar">
        <a class="navbar-brand" href="{% url 'mainpage:about' %}" id="hrp">Mohamad Aziz Gafirazi Irfandi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <a class="nav-item nav-link mx-5 butPage" id="now" href="{% url 'mainpage:about' %}">About</a>
                <a class="nav-item nav-link mx-5 butPage" href="{% url 'mainpage:skills' %}">Skills</a>
                <a class="nav-item nav-link mx-5 butPage" href="{% url 'mainpage:experiences' %}">Experiences</a>
                <a class="nav-item nav-link mx-5 butPage" href="{% url 'mainpage:gallery' %}">Gallery</a>
                <a class="nav-item nav-link mx-5 butPage" href="{% url 'mainpage:schedule' %}">Schedule</a>
                <a class="nav-item nav-link mx-5 active butPage" href="{% url 'mainpage:contact' %}">Contact</a>
            </div>
        </div> 
    </nav>

    <div id="body" class="jumbotron">
        <div class="row">
            <div class="container photoSkills col-sm-6" id="textInfo">
                <p id="contact-text">CONTACT</p>
                <h1 class="headText">Get in touch</h1>
                <p class="contact-desc upper">mohamad.aziz@ui.ac.id</p>
                <p class="contact-desc">+62 8123412312</p>
                <br>
                <p class="contact-desc">Universitas Indonesia</p>
                
            </div>
        
            <div class="container photoSkills col-sm-6" id="photoslang">
                <img src="{% static 'images/profile.jpg' %}" alt="Gafi's Photo" id="foto">
            </div>
        </div>  
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
