<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gafi Irfandi | Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
</head>
<body id="page">


    <nav class="navbar fixed-top navbar-expand-md navbar-dark my-nav" id="navbar">
        <a class="navbar-brand" href="{% url 'mainpage:about' %}" id="hrp">Mohamad Aziz Gafirazi Irfandi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <a class="nav-item nav-link mx-5 butPage" id="now" href="{% url 'mainpage:about' %}">About</a>
                <a class="nav-item nav-link mx-5 butPage" href="{% url 'mainpage:skills' %}">Skills</a>
                <a class="nav-item nav-link mx-5 butPage" href="{% url 'mainpage:experiences' %}">Experiences</a>
                <a class="nav-item nav-link mx-5 butPage" href="{% url 'mainpage:gallery' %}">Gallery</a>
                <a class="nav-item nav-link mx-5 active butPage" href="{% url 'mainpage:schedule' %}">Schedule</a>
                <a class="nav-item nav-link mx-5 butPage" href="{% url 'mainpage:contact' %}">Contact</a>
            </div>
        </div> 
    </nav>

<div class="container backforms">
    <br><br><br><br><br>


    <form class="css" action="{% url 'mainpage:schedule_create' %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-10" id="infoText">
                    {% for fields in form %}
                        {{ fields.label_tag }}
                        <br>
                        {{ fields }}
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-1"></div>
                <input type="submit" class="btn btn-primary float-right" value="Add">
            </form>
    
    </div>
</div>
      
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
    <script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>

    
</body>
</html>